@import './index.css';

.form-dias-habiles{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.label-dias-habiles{
  position: relative;
  bottom: 25px;
  left: 10px;
  font-size: 10px;
  padding: 5px;
  text-align: start;
  font-weight: 600;
  opacity: .7;
}

.input-habiles{
  margin-left: -55px;
  border-radius: 5px 0 0 5px !important;
  margin-bottom: 0 !important;
}

.input-habiles:focus{
  border: 1px solid var(--green-primary) !important;
  box-shadow: 0 0 1px var(--green-secondary);
}

.button-dias-habiles{
  padding: 6px 10px;
  border-radius: 0 5px 5px 0;
  border: none;
  letter-spacing: .5px;
  background-color: var(--green-primary);
  cursor: pointer;
}

.button-dias-habiles:hover{
  background-color: var(--green-secondary);
}